@model MockSchoolManagement.Models.Student
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "学生详情222";
}
<html>
<head>
    <title>

    </title>
</head>
<body>
    <h3>@ViewBag.PageTitle</h3>
    <div>
        姓名：@Model.Name
    </div>
    <div>
        主修科目：@Model.Major
    </div>

    @section Scripts{
        <script src="~/js/CustomScript.js"></script>
    }
</body>
</html>