@model MockSchoolManagement.ViewModels.HomeVMDetailsViewModel


<html>
<head>
    <title>

    </title>
</head>
<body>
    <h3>@Model.PageTitle</h3>
    <div>
        姓名：@Model.student.Name
    </div>
    <div>
        主修科目：@Model.student.Major
    </div>

</body>
</html>